name: Build macOS Pygame App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pygame pyinstaller

      - name: Build .app
        run: |
          pyinstaller --windowed \
                      --name MyPygameGame \
                      --add-data "2.png:." \
                      --add-data "4.png:." \
                      --add-data "8.png:." \
                      --add-data "16.png:." \
                      --add-data "32.png:." \
                      --add-data "64.png:." \
                      --add-data "128.png:." \
                      --add-data "256.png:." \
                      --add-data "512.png:." \
                      --add-data "1024.png:." \
                      --add-data "2048.png:." \
                      --add-data "4096.png:." \
                      --add-data "8192.png:." \
                      --add-data "pince.png:." \
                      --add-data "main.png:." \
                      main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyPygameGame
          path: dist/MyPygameGame.app
